In [2]:
from __future__ import division, print_function
__author__ = 'fbb CUSP 2016'
import os
import numpy as np
from numpy.random import randn
import pylab as pl

from pandas import Series, DataFrame
import pandas
import pandas as pd

In [3]:
DFDATA = os.getenv("DFDATA")
print (DFDATA)

/gws/open/NYCOpenData/nycopendata/data

In [5]:
%pylab inline
np.set_printoptions(precision=4, threshold=500)
#np.random.seed(123321)
pl.rc('figure', figsize=(10, 6))
pd.options.display.max_rows = 100

Populating the interactive namespace from numpy and matplotlib

In [62]:
farmerdata = pd.read_csv(DFDATA + '/b7kx-qikm/1414245968/b7kx-qikm')
farmerdata

           Borough                    Market Name    ...   EBT Stellar
0            Bronx  Bissel Gardens Farmers' Market   ...     1       0
1            Bronx  Bronx Borough Hall Greenmarket   ...     1       1
..             ...                             ...   ...    ..     ...
135  Staten Island          St. George Greenmarket   ...     1       0
136  Staten Island  Staten Island Mall Greenmarket   ...     1       0

[137 rows x 9 columns]

In [8]:
pd.set_option('display.max_columns', 5)
pd.set_option('display.max_rows',5)
farmerdata

           Borough                    Market Name    ...   EBT Stellar
0            Bronx  Bissel Gardens Farmers' Market   ...     1       0
1            Bronx  Bronx Borough Hall Greenmarket   ...     1       1
..             ...                             ...   ...    ..     ...
135  Staten Island          St. George Greenmarket   ...     1       0
136  Staten Island  Staten Island Mall Greenmarket   ...     1       0

[137 rows x 9 columns]

In [77]:
farmerdata.drop(farmerdata.columns[1], axis=1, inplace=True)

In [78]:
farmerdata

     Accepts Health Bucks  Stellar
0                       1        0
1                       1        1
..                    ...      ...
135                     1        0
136                     1        0

[137 rows x 2 columns]